body {
    background-color: darkgrey;
}

.div-container {
    margin: auto;
    width: 88%;
    background-color: beige;
}

.div-main {
    padding-left: 15;
    padding-right: 15;
    padding-bottom: 15;    
}

.div-nav {
    font-size: larger;
    background-color: darkgrey;
    padding-bottom: 15;
    padding-top: 15;
    display: flex;
}

.div-footer {
    font-size: larger;
    background-color: darkgrey;
    padding-top: 25;
}

img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    width: 88%;
}

.button {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 3 3;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    width: 10%;
  }